* {
   margin: 0;
   padding: 0;
}

body {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
.cont {
   margin-top: 100px;
   width: 100%;
   display: flex;
   justify-content: center;
}
.life {
   position: absolute;
   right: 7%;
   top: 5%;
}
.life::before {
   content: url(./heart.png);
   position: relative;
   top: 5px;
   right: 10px;
}
.word {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: flex-end;
}
.letter-cont {
   border: 1px solid black;
   margin-right: 2px;
   width: 150px;
   height: 100px;
}

.wrapper {
   opacity: 0;
}

button {
   display: block;
   margin: 50px auto;
   height: 40px;
   padding: 0 20px;
   font-weight: 600;
   background: transparent;
   border-radius: 4px;
   border: 1px solid black;
}

.window {
   position: absolute;
   width: 100%;
   height: 100%;
   background: #484646b4;
   top: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   opacity: 0;
   visibility: hidden;
}
.window__modal {
   background: cornsilk;
   width: 100vh;
   height: 20%;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   border-radius: 5px;
}
.window__txt {
   width: 100%;
   text-align: center;
   padding-top: 30px;
}
.window__reset {
   margin: 0;
}

.next {
   opacity: 0;
   visibility: hidden;
}

.letter {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
   transition: 0.5s;
   opacity: 0;
}

.window_str{
   opacity: 1;
   visibility: visible;
}
.letters_str{
   opacity: 1;
}
.gallows__keyboard {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   opacity: 0;
   transition: 0.9s;
   visibility: hidden;
}
.delete {
   transform: scale(0);
}
.start {
   opacity: 1;
   visibility: visible;
}
.reset.startbtn span {
   display: none;
}
.startbtn::after {
   content: "RESET";
}

.line {
   display: flex;
}

.key {
   width: 50px;
   height: 50px;
   margin: 5px;
   text-align: center;
   border: 1px black solid;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: 0.2s;
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
   transition-duration: 0.5s;
}
.key:hover {
   cursor: pointer;
   background: #000000;
   color: #ffffff;
}
.delete {
   transform: scale(0);
}

.vibration {
   animation: vibration 0.5s ease-in 1 alternate;
   transform: scale(0);
}
@keyframes vibration {
   0%,
   100% {
      background-color: red;
      color: #ffffff;
   }

   0% {
      transform: translateX(-5px);
   }

   20% {
      transform: translateX(5px);
   }

   40% {
      transform: translateX(-5px);
   }

   50% {
      transform: scale(1);
   }

   60% {
      transform: translateX(5px);
   }

   100% {
      transform: translateX(-5px);

      transform: scale(0);
   }
}
